$main: #0e643b;
$main-dark: #084829;
$secondary: #ffd037;
$light: #f5f5f5;
$light-color: #e2eae3;
$black: #101010;
$white: #ffffff;

* {
  font-family: "Poppins", sans-serif;
}

//colors

.bg-color-main {
  background-color: $main;
}

.bg-color-secondary {
  background-color: $secondary;
}

.bg-color-light {
  background-color: $light;
}

.bg-color-light-color {
  background-color: $light-color;
}

.text-color-main {
  color: $main;
}

.text-color-secondary {
  color: $secondary;
}

.text-color-light {
  color: $light;
}

.text-color-light-color {
  color: $light-color;
}

// navigation

.nav-container {
  height: 70px;
  width: 100%;
  background-color: $main;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  font-size: 16px;
  font-weight: 400;
  color: $white;
  transition: all 0.3s ease-in-out;
}

.nav-text:hover {
  color: #ffd037;
  cursor: pointer;
}

.logo {
  width: auto;
  height: 50px;
}

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}

.hamburger-container {
  width: 200px;
  height: auto;
  background-color: $main-dark;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 60px 20px;
  transform: translateX(100%);
  transition: all .4s ease-in-out;
}

.active {
  transform: translateX(0);
}

// hamburger


.nav-wrapper {
  width: 50px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-bar {
  width: 30px;
  height: 3px;
  background-color: $white;
  transition: all .4s ease-in-out;
  position: absolute;
}

.nav-bar::before,
.nav-bar::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: $white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all .4s ease-in-out;
}

.nav-bar::before {
transform: translateY(10px);
}
.nav-bar::after {
transform: translateY(-10px);
} 
 .nav-wrapper-open .nav-bar {
  transform: translateX(-50px);
  background-color: transparent;
 }

 .nav-wrapper-open .nav-bar::before {
  transform: rotate(45deg) translate(30px, -30px);
 }
 .nav-wrapper-open .nav-bar::after {
  transform: rotate(-45deg) translate(30px, 30px);
 }

