$main: #0e643b;
$main-dark: #084829;
$secondary: #ffd037;
$light: #f5f5f5;
$light-color: #e2eae3;
$light-color-darker: #42926a;
$black: #101010;
$white: #ffffff;
$error: #eb1515;

* {
  font-family: "Poppins", sans-serif;
  color: $black;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

label {
  font-size: 1rem;
  font-weight: 300;
  color: $white;
}

input {
  border: none;
  background-color: $light-color-darker;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: $white;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid $secondary;
}

input::placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: $light-color;
}

textarea {
  // width: auto;
  height: 150px;
  border: none;
  background-color: $light-color-darker;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: $white;
}
textarea::placeholder {
  font-size: 1.2rem;
  font-weight: 200;
  color: $light-color;
}
textarea:focus {
  outline: none;
  border: 1px solid $secondary;
}

// fonts

.serif-font-italic {
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: italic;
}

.H1R {
  font-size: 2rem;
  font-weight: 200;
  color: $main;
  line-height: 2.2rem;
}
.H1B {
  font-size: 2rem;
  font-weight: 400;
  color: $main;
  line-height: 3rem;
}
.H2R {
  font-size: 1.8rem;
  font-weight: 200;
  color: $main;
  line-height: 2.2rem;
}

.H3B {
  font-size: 1.5rem;
  font-weight: 400;
  color: $main;
  line-height: 35px;
}
.H3R {
  font-size: 1.5rem;
  font-weight: 300;
  color: $main;
  line-height: 35px;
}

.H4R {
  font-size: 1.2rem;
  font-weight: 300;
  color: $main;
  line-height: 35px;
}
.H4B {
  font-size: 1.2rem;
  font-weight: 500;
  color: $main;
  line-height: 35px;
}

.T1R {
  font-size: 1rem;
  font-weight: 300;
  color: $black;
}
.T1B {
  font-size: 1rem;
  font-weight: 600;
  color: $black;
}

.T1B-up {
  font-size: 1rem;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;
}

.T2B {
  font-size: 0.8rem;
  font-weight: 600;
}

.number {
  font-size: 5rem;
  font-weight: 600;
  color: $main;
}

.title-container {
  margin: 50px 20px;
}

@media screen and (max-width: 768px) {
  .H1R {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .H2R {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .H3R {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .T1R {
    font-size: 1rem;
  }
  .T1B {
    font-size: 1rem;
  }
  .T1B-up {
    font-size: 1rem;
  }
  .title-container {
    padding: 0;
  }
  .serif-font-italic {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}


//colors

.bg-color-main {
  background-color: $main;
}
.bg-color-main-dark {
  background-color: $main-dark;
}

.bg-color-secondary {
  background-color: $secondary;
}

.bg-color-light {
  background-color: $light;
}

.bg-color-light-color {
  background-color: $light-color;
}

.bg-color-white {
  background-color: $white;
}

.text-color-main {
  color: $main;
}

.text-color-main-dark {
  color: $main-dark;
}

.text-color-secondary {
  color: $secondary;
}

.text-color-light {
  color: $light;
}

.text-color-light-color {
  color: $light-color;
}
.text-color-white {
  color: $white;
}
.text-color-black {
  color: $black;
}
.text-color-error {
  color: $error;
}

// button

.button-primary {
  width: 180px;
  height: 50px;
  background-color: $main;
  color: $white;
  border: none;
  text-decoration: none;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}
.button-primary:hover {
  background-color: $secondary;
}

.button-secondary {
  width: 180px;
  height: 50px;
  background-color: transparent;
  color: $main;
  border: 2px solid $main;
  text-decoration: none;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}
.button-secondary:hover {
  background-color: $white;
  color: $secondary;
  border: 2px solid $secondary;
}

.button-send {
  width: 180px;
  height: 50px;
  background-color: $secondary;
  color: $main-dark;
  border: none;
  text-decoration: none;
  margin: 30px 10px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}
.button-send:hover {
  background-color: $main-dark;
  color: $white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// navigation

.nav-container {
  height: 70px;
  width: 100%;
  background-color: $main;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px #c8c8c8;
  margin: 0;
}

.top-margin {
  width: 100%;
  height: 70px;
}

.nav-text {
  font-size: 1rem;
  font-weight: 400;
  color: $white;
  transition: all 0.3s ease-in-out;
}
.nav-text-active {
  font-size: 1rem;
  font-weight: 400;
  color: $secondary;
  transition: all 0.3s ease-in-out;
}

.nav-text:hover {
  color: #ffd037;
  cursor: pointer;
}

.logo {
  width: auto;
  height: 70px;
  margin-left: 40px;
}

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}

.hamburger-container {
  width: 200px;
  height: auto;
  background-color: $main-dark;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 60px 20px;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.active {
  transform: translateX(0);
}

// hamburger

.nav-wrapper {
  width: 50px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-bar {
  width: 30px;
  height: 3px;
  background-color: $white;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.nav-bar::before,
.nav-bar::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: $white;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}

.nav-bar::before {
  transform: translateY(10px);
}
.nav-bar::after {
  transform: translateY(-10px);
}
.nav-wrapper-open .nav-bar {
  transform: translateX(-50px);
  background-color: transparent;
}

.nav-wrapper-open .nav-bar::before {
  transform: rotate(45deg) translate(30px, -30px);
}
.nav-wrapper-open .nav-bar::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

// home page
@keyframes main-animation {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.main-animation {
  animation-name: main-animation;
  animation-duration: 1s;
}

.claim-wrapper {
  height: auto;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-top: -200px;
  text-align: center;
  box-shadow: -10px -10px $secondary;
}

@media screen and (max-width: 1200px) {
  .claim-wrapper {
    margin-top: -40px;
  }
}

// @media screen and (max-width: 1200px) {
//   .claim-wrapper {
//     margin-top: -180px;
//   }
// }

.white-container {
  background-color: $white;
  padding: 30px;
}

.main-color-container {
  background-color: $main;
  padding: 30px;
}

.top-banner-wrapper img {
  width: 100%;
  height: auto;
}

.box-shadow {
  box-shadow: 0 2px 2px #c7c7c7;
}

.margin-bottom {
  margin-bottom: -80px;
}

.container-margin {
  margin: 150px 0;
}

//offer

.white-container-offer {
  height: 250px;
  background-color: $white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 $secondary;
  transition: all 0.3s ease-in-out;
}
.white-container-offer:hover {
  background-color: $main-dark;
  color: $white;
  box-shadow: -5px 5px $secondary;
}

// accordion

.accordion-item > .accordion-header > .accordion-button {
  background-color: $main-dark;
  color: $white;
  outline: none;
}
.accordion-item > .accordion-header > .accordion-button:hover {
  background-color: $main;
  color: $white;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.accordion-header button:focus {
  color: $white;
  outline: none;
  box-shadow: none;
}
.accordion-header button:active {
  color: $white;
  outline: none;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


// iframe

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

// iframe fitted the container
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// footer

footer {
  width: 100%;
  height: auto;
  background-color: $main-dark;
  color: $white;
  padding: 50px 20px;
}

footer a {
  text-decoration: none;
  color: $white;
  transition: all 0.4s ease-in-out;
}
footer a:hover {
  text-decoration: none;
  color: $secondary;
}

