* {
  font-family: "Poppins", sans-serif;
  color: #101010;
}

label {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

input {
  width: auto;
  height: 70px;
  border: none;
  background-color: #479c73;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px solid #ffd037;
}

input::-moz-placeholder {
  font-size: 18px;
  font-weight: 200;
  color: #e2eae3;
}

input::placeholder {
  font-size: 18px;
  font-weight: 200;
  color: #e2eae3;
}

.serif-font-italic {
  font-family: "Lora", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  font-style: italic;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  color: #0e643b;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #101010;
}

.H1R {
  font-size: 45px;
  font-weight: 200;
  color: #0e643b;
  line-height: 65px;
}

.H2R {
  font-size: 35px;
  font-weight: 200;
  color: #0e643b;
  line-height: 55px;
}

.H3B {
  font-size: 25px;
  font-weight: 400;
  color: #0e643b;
  line-height: 35px;
}

.H3R {
  font-size: 25px;
  font-weight: 300;
  color: #0e643b;
  line-height: 35px;
}

.T1R {
  font-size: 16px;
  font-weight: 300;
  color: #101010;
}

.T1B {
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}

.T1B-up {
  font-size: 16px;
  font-weight: 500;
  color: #101010;
  text-transform: uppercase;
}

.T2B {
  font-size: 12px;
  font-weight: 600;
}

.number {
  font-size: 80px;
  font-weight: 600;
  color: #0e643b;
}

.title-container {
  margin: 50px 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  .H1R {
    font-size: 35px;
  }
  .T1R {
    font-size: 14px;
  }
  .T1B {
    font-size: 14px;
  }
  .T1B-up {
    font-size: 14px;
  }
  .title-container {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}
.bg-color-main {
  background-color: #0e643b;
}

.bg-color-main-dark {
  background-color: #084829;
}

.bg-color-secondary {
  background-color: #ffd037;
}

.bg-color-light {
  background-color: #f5f5f5;
}

.bg-color-light-color {
  background-color: #e2eae3;
}

.bg-color-white {
  background-color: #ffffff;
}

.text-color-main {
  color: #0e643b;
}

.text-color-main-dark {
  color: #084829;
}

.text-color-secondary {
  color: #ffd037;
}

.text-color-light {
  color: #f5f5f5;
}

.text-color-light-color {
  color: #e2eae3;
}

.text-color-white {
  color: #ffffff;
}

.text-color-error {
  color: #eb1515;
}

.button-primary {
  width: 180px;
  height: 50px;
  background-color: #0e643b;
  color: #ffffff;
  border: none;
  text-decoration: none;
  margin: 30px 10px;
  transition: all 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #ffd037;
}

.button-secondary {
  width: 180px;
  height: 50px;
  background-color: transparent;
  color: #0e643b;
  border: 2px solid #0e643b;
  text-decoration: none;
  margin: 30px 10px;
  transition: all 0.3s ease-in-out;
}

.button-secondary:hover {
  background-color: #ffffff;
  color: #ffd037;
  border: 2px solid #ffd037;
}

.button-send {
  width: 180px;
  height: 50px;
  background-color: #ffd037;
  color: #084829;
  border: none;
  text-decoration: none;
  margin: 30px 10px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.button-send:hover {
  background-color: #084829;
  color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  height: 70px;
  width: 100%;
  background-color: #0e643b;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px #474747;
  margin: 0;
}

.top-margin {
  width: 100%;
  height: 70px;
}

.nav-text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.nav-text-active {
  font-size: 16px;
  font-weight: 400;
  color: #ffd037;
  transition: all 0.3s ease-in-out;
}

.nav-text:hover {
  color: #ffd037;
  cursor: pointer;
}

.logo {
  width: auto;
  height: 50px;
}

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
.hamburger-container {
  width: 200px;
  height: auto;
  background-color: #084829;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 60px 20px;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.active {
  transform: translateX(0);
}

.nav-wrapper {
  width: 50px;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}
@media (max-width: 768px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.nav-bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.nav-bar::before,
.nav-bar::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}

.nav-bar::before {
  transform: translateY(10px);
}

.nav-bar::after {
  transform: translateY(-10px);
}

.nav-wrapper-open .nav-bar {
  transform: translateX(-50px);
  background-color: transparent;
}

.nav-wrapper-open .nav-bar::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.nav-wrapper-open .nav-bar::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

@keyframes main-animation {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
.main-animation {
  animation-name: main-animation;
  animation-duration: 2s;
}

.claim-wrapper {
  height: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-top: -280px;
  text-align: center;
  box-shadow: -10px -10px #ffd037;
}

.white-container {
  background-color: #ffffff;
  padding: 30px;
}

.main-color-container {
  background-color: #0e643b;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .claim-wrapper {
    margin-top: -50px;
  }
}
.top-banner-wrapper img {
  width: 100%;
  height: auto;
}

.box-shadow {
  box-shadow: 0 2px 2px #c7c7c7;
}

.margin-bottom {
  margin-bottom: -80px;
}

.container-margin {
  margin: 150px 0;
}

.white-container-offer {
  height: 250px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 #ffd037;
  transition: all 0.3s ease-in-out;
}

.white-container-offer:hover {
  background-color: #084829;
  color: #ffffff;
  box-shadow: -5px 5px #ffd037;
}

footer {
  width: 100%;
  height: auto;
  background-color: #084829;
  color: #ffffff;
  padding: 50px 20px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

footer a:hover {
  text-decoration: none;
  color: #ffd037;
}/*# sourceMappingURL=styles.css.map */